@charset "utf-8";
*{ margin:0; padding:0;}
a{color:#333333; text-decoration:none; cursor:pointer;}
a:hover{color:#FF0000; text-decoration:none;transition:color 1s;-moz-transition:color 1s;-webkit-transition:color 1s;-o-transition:color 1s;}
img{ border:none;}
ul,li{ list-style:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
.wrapper img{filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}
.wrapper:hover img{filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9;}
body{font-size:12px; background:#ffffff; color:#333333; overflow:auto;}

#top_ts{ height:29px; overflow:hidden; padding:5px; background:#177fc8; line-height:29px; color:#FFFFFF; font-size:12px;}
#top_ts ul{ height:auto; overflow:hidden; width:1200px; margin:0 auto;}
#top_ts a{ color:#FFFFFF;}
#top_ts a:hover{ text-decoration:underline;}
#top_ts li.right{ padding-left:35px; background:url(../images/i_ico2.gif) no-repeat left center;}

#nav{ height:auto; overflow:hidden; padding-bottom:3px; background:url(../images/nav_bg.gif) repeat-x left bottom #FFFFFF;}
#nav .nav_in{ height:100px; width:1200px; margin:0 auto;}
#nav .logo{ height:auto; width:310px; float:left; padding-top:16px;}
#nav .nav_list{ float:right; width:780px; position:relative;}
#nav .nav_list .nav_list_bg{width:130px;height:97px; background:#177fc8; border-bottom:3px #0e6cae solid; position:absolute; left:0; top:0; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; z-index:2}
#nav .nav_list .nav_list_bg span{ display:none; height:8px; background:url(../images/i_ico3.gif) no-repeat center bottom; padding-top:15px;animation:nav1down 1s ease-out infinite;-moz-animation:nav1down 1s ease-out infinite;-webkit-animation:nav1down 1s ease-out infinite;-o-animation:nav1down 1s ease-out infinite;}
@-webkit-keyframes nav1down{
    0%{transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);-moz-transform:translateY(0);}
    25%{transform:translateY(7px);-ms-transform:translateY(7px);-webkit-transform:translateY(7px);-o-transform:translateY(7px);-moz-transform:translateY(7px);}
    50%{transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);-moz-transform:translateY(0);}
    100%{transform:translateY(0);-ms-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);-moz-transform:translateY(0);}
}
#nav .nav_list ul.bg{ height:auto; overflow:hidden; width:780px; position:absolute; left:0; top:0; z-index:1}
#nav .nav_list ul.bg li{ float:left; height:100px; width:130px; text-align:center; background:url(../images/i_ico4.gif) no-repeat right center;}
#nav .nav_list ul.txt{ height:auto; overflow:hidden; width:780px; position:absolute; left:0; top:0; z-index:3}
#nav .nav_list ul.txt li{ float:left; height:100px; width:130px; text-align:center;}
#nav .nav_list ul.txt li.last{ background:none;}
#nav .nav_list ul.txt li a{ display:block; height:100px; font-size:15px; color:#333333; position:relative;}
#nav .nav_list ul.txt li a .box{ height:40px; overflow:hidden; width:100%; position:absolute; left:0; top:35px;}
#nav .nav_list ul.txt li a span{ display:block; color:#999999; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:5px 0;}
#nav .nav_list ul.txt li.hover a{ color:#FFFFFF;}
#nav .nav_list ul.txt li.hover span{ color:#FFFFFF;}

#footer_line{ height:10px; overflow:hidden; padding-bottom:30px; background:url(../images/ks_bg.gif) repeat-x;}

#footer{ height:auto; overflow:hidden; background:url(../images/fbg.gif); padding-top:30px;}
#footer .footer_in{ height:auto; overflow:hidden; width:1200px; margin:0 auto 20px;}
#footer .flogo{ float:left; height:161px; width:207px; padding:20px 70px 0 0;}
#footer .fnav{ float:left; height:auto; overflow:hidden; width:540px;}
#footer .fnav dl{ background:url(../images/fico2.png) repeat-y left top; height:230px; overflow:hidden; width:180px; float:left;}
#footer .fnav dt{ width:80px; margin:0 auto; font-size:16px; background:url(../images/fico1.png) no-repeat left bottom; height:auto; overflow:hidden; padding-bottom:10px; margin-bottom:5px;}
#footer .fnav dl.w90 dt{ width:90px;}
#footer .fnav dd{ width:80px; margin:0 auto; line-height:31px; padding-bottom:2px; background:url(../images/foot_line.gif) repeat-x left bottom;}
#footer .fnav dl.w90 dd{ width:90px;}
#footer .fnav a{ color:#FFFFFF;}
#footer .fnav dd a:hover{ color:#FF0000; }
#footer .faddr{ width:365px; float:right; color:#FFFFFF;}
/*#footer .faddr .t{ height:135px; background:url(../images/fwx.gif) no-repeat left center; padding-left:140px;}*/
#footer .faddr .t p{ line-height:30px; padding:15px 0 25px 0;}
#footer .faddr .t form{ height:32px; width:216px; background:url(../images/fsearch.gif)}
#footer .faddr .t .i{ float:left; height:32px; width:175px; background:none; border:none; padding-left:4px; line-height:27px; color:#999999;}
#footer .faddr .t .btn{ float:right; height:32px; width:32px; float:right; border:none; background:none; cursor:pointer;}
#footer .faddr .b{ line-height:35px;}
#footer .faddr .b span{ font-weight:bold; color:#FFFFFF;}
#footer .faddr .b a{ color:#FFFFFF;}
#footer .faddr .b a:hover{ color:#FF0000;}
#footer .flink{ height:auto; overflow:hidden; padding-top:20px; background:url(../images/fico4.png) repeat-x; margin-bottom:10px;}
#footer .flink .fin{width:1200px; margin:0 auto;}
#footer .flink ul{ width:1000px; float:left;}
#footer .flink ul li{ float:left; padding:0 0 7px 0;}
#footer .flink ul li a{ display:block; padding:0 10px; border-right:1px #FFFFFF solid; color:#FFFFFF;}
#footer .flink ul li a:hover{ color:#FF0000;}
#footer .flink ul li.f{ height:33px; width:95px; background:url(../images/fico3.png); padding:0;}
#footer .flink .bshare{ width:190px; height:auto; overflow:hidden; float:right;}
#footer .fcopy{ height:40px; line-height:40px; overflow:hidden; text-align:right; color:#FFFFFF; background:#0f1011; padding-bottom:90px;}
#footer .fcopy p{ width:1200px; margin:0 auto; text-align:right;}
#footer .fcopy p a{ color:#FFFFFF;}
#footer .fcopy p a:hover{ text-decoration:underline;}
#footer .fcopy2{ height:40px; line-height:40px; overflow:hidden; text-align:right; color:#FFFFFF; background:#0f1011; padding-bottom:90px;}
#footer .fcopy2 .fcopy_in{ width:1200px; margin:0 auto;}
#footer .fcopy2 .fcopy_in p{ float:left;}
#footer .fcopy2 .fcopy_in .bshare{ float:right;}

#footer_btn_box{ height:90px; overflow:hidden; width:100%; position: fixed !important; position:absolute;bottom:0;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight):document.body.scrollTop+ (document.body.clientHeight - this.clientHeight)); z-index:99999;}
#footer_btn_box .cons{ height:90px; width:100%; position:relative;}
#footer_btn_box .cons .bg{ height:90px; width:100%; background:#1f80c1; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; position:absolute; left:0; top:0; z-index:-1;}
#footer_btn_box .cons .in{ width:1200px; margin:0 auto;}
#footer_btn_box .cons .left{ width:340px; font-size:18px; height:90px; border-right:1px #59a1d1 dashed;}
#footer_btn_box .cons .left ul{ padding:12px 0 0 10px;}
#footer_btn_box .cons .left li{ height:35px; line-height:35px; color:#FFFFFF;}
#footer_btn_box .cons .left li a{ color:#FFFFFF; padding-right:5px;}
#footer_btn_box .cons .left li a:hover{ color:#FFFFFF;}
#footer_btn_box .cons .con{ width:520px; float:left;}
#footer_btn_box .cons .con li{ width:129px; height:90px; overflow:hidden; float:left; border-right:1px #59a1d1 dashed;}
#footer_btn_box .cons .con li .pic{ text-align:center; height:57px; overflow:hidden;}
#footer_btn_box .cons .con li .pic img{ padding-top:12px;}
#footer_btn_box .cons .con li p{ font-size:16px; text-align:center; line-height:28px;}
#footer_btn_box .cons .con li a{ color:#FFFFFF;}
#footer_btn_box .cons .right{}
#footer_btn_box .cons .right input.i{ height:30px; line-height:30px; width:220px; color:#999999; border:none; float:left; margin-right:2px; padding-left:3px;}
#footer_btn_box .cons .right input.btn{ height:30px; line-height:30px; width:80px; text-align:center; color:#FFFFFF; border:none; background:#0e647f; font-size:15px;font-family:"Microsoft YaHei", "微软雅黑", "宋体", "SimSun", "Arial";}
#footer_btn_box .cons .right .btn_i1{ height:auto; padding:12px 0 10px 0;}
#footer_btn_box .cons .right .btn_i1 input.btn{ background:#105c8f;}