html{
    font-size: 1.25rem;
}
body{
    font-family: arial;
    font-size: 75%;
    background: #c0c0c0;
}
.h1{
    font-size: 1.3rem;
}
.clear{
    width: 100%;
    height: 0.5rem;
}
.clear2{
    width: 100%;
    height: 1rem;
}
/*chinh theo kich thuoc man hinh*/
@media screen and (min-width: 320px){
    html {
        font-size: 0.75rem;
    }
    .cat_sub_item_right {
        padding-left: 3rem;
    }
}
@media screen and (min-width: 400px){
    html {
        font-size: 0.875rem;
    }
    .cat_sub_item_right {
        padding-left: 0.1rem;
    }
}
@media screen and (min-width: 480px){
    html {
        font-size: 1rem;
    }
}
@media screen and (min-width: 560px){
    html {
        font-size: 1rem;
    }
}
@media screen and (min-width: 600px){
    html {
        font-size: 1.125rem;
    }
}
/*het phan chinh theo kich thuoc man hinh*/
.bg_xanh{
    background: #177fc8;
}
a{
    color: #000000;
}
a:hover{
    text-decoration: none;
}
.padding_x15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 600px;
    background: #ffffff;
    padding: 0;
    font-size: 1rem;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.main_item{
    width: 100%;
    overflow: hidden;
    margin: auto;
}
/*.main_header*/
.main_header{
    width: 100%;
    background: #177fc8;
    float: left;
    border-bottom: 2px solid #b8b8b8;
}
.main_header .header_left{
    width: 10%;
    float: left;
    position: relative;
}
.main_header .header_left a{
    text-decoration: none;
    color: #ffffff;
}
.main_header .header_left span{
    cursor: pointer;
    position: relative;
    display: inline-table;
}
.main_header .header_left img{
    padding-top: 15px;
}
.header_left .menu_main{
    position: absolute;
    width: 500%;
    background: #7260ac;
    padding-top: 15px;
    z-index: 10;
    display: none;
}
.header_left span.active .menu_main{
    display: block;
}
.header_left .menu_main ul.menu_main_lv1 li:first-child{
    border-top: 2px solid #b8b8b8;
}
.header_left .menu_main ul.menu_main_lv1 li{
    padding: 8px 0px 8px 15px;
    border-bottom: 2px solid #b8b8b8;
}
.main_header .header_right{
    width: 15%;
    line-height: 80px;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}
.main_header .header_content{
    width: 80%;
    float: left;
}
.header_content h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
}
.logo_top{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%;
}
.logo_top img{
    max-width: 100%;
}
/*.main_content*/
.main_content{
    padding: 0 15px;
    background: #ffffff;
}
/*.search*/
.btn-timkiem{
    background: #177fc8;
    color: #ffffff;
}
.btn-hoibacsy{
    background: #f9bc2b;
    color: #ffffff;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
}
.logo{
    background:#177fc8 ;
    text-align: center;
    /*height: 238px;*/
    height: 12rem;
}
.logo a{
    color: #ffffff;
    text-decoration: none;
}
.logo img{
    width: 70%;
    padding: 1rem 0;
}
.logo p{
    text-transform: uppercase;
    font-size: 1rem;
}
.about{
    padding-right: 0;
    /*padding-left: 10px;*/
    padding-left: 0.5rem;
}
.gioithieu{
    background: #177fc8;
    /*height: 105px;*/
    height: 5.5rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}
.gioithieu a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}
.gioithieu img{
    width: 30%;
}
.gioithieu a span{
    display: inline-table;
    padding-left: 0.3rem;
}
.kythuat{
    width: 100%;
}
.kythuat a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.kythuat img{
    width: 50%;
}
.kythuat .kythuat1,.kythuat .kythuat2{
    background: #6bb3ed;
    /*width: 48%;*/
    width: 49%;
    text-align: center;
    float: left;
    padding: 1rem 0;
    /*height: 123px;*/
    height: 6rem;
}
.kythuat .kythuat2{
    float: right;
}
/*.banner*/
.banner{
    text-align: center;
}
.banner img{
    width: 100%;
}
/*.main_tit*/
.main_tit{
    background: #177fc8;
    /*height: 40px;*/
    height: 2.5rem;
    padding: 0.5rem 20px 0px 20px;
}
.main_tit_txt{
    padding: 0 20px;
    background: #ffffff;
    color: #177fc8;
    text-transform: uppercase;
    /*height: 35px;*/
    height: 2rem;
    /*line-height: 35px;*/
    line-height: 2rem;
    display: inline-block;
}
.main_tit_tv{
    float: right;
}
.main_tit_tv img{
    height: 1.7rem;
}
/*.hangmuc*/
.hangmuc_item{
    width: 33.33%;
    /*height: 190px;*/
    height: 11rem;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    text-align: center;
    padding-top: 1rem;
}
.hangmuc_item img{
    width: 60%;
}
.hangmuc_item:nth-child(3),.hangmuc_item:nth-child(6),.hangmuc_item:nth-child(9){
    border-right: none;
}
.hangmuc_item:nth-child(7),.hangmuc_item:nth-child(8),.hangmuc_item:nth-child(9){
    border-bottom: none;
    height: 11rem;
}
.hangmuc_item p{
    margin-top: 10px;
    text-transform: uppercase;
    color: #177fc8;
}
/*.btn_tuvan*/
.btn_tuvan img{
    max-width: 98%;
}
.btn_tuvan_tructuyen,.btn_tuvan_dienthoai{
    width: 49%;
    height: 4rem;
    text-align: center;
    /*line-height: 70px;*/
    padding-top: 0.8rem;
}
.btn_tuvan_tructuyen{
    float: left;
    background: #177fc8;
}
.btn_tuvan_dienthoai{
    float: right;
    background: #f9bc2b;
}
/*.doingubacsy*/
.doingubacsy{
    text-align: center;
}
.doingubacsy img {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
}
/*.truonghopkhoibenh*/
.truonghopkhoibenh_img{
    width: 40%;
    float: left;
}
.truonghopkhoibenh_img img{
    max-width: 100%;
}
.truonghopkhoibenh_txt{
    width: 60%;
    float: left;
    padding-left: 2rem;
}
.truonghopkhoibenh_txt a{
    color: red;
}
.truonghopkhoibenh ul{
    width: 100%;
    overflow: hidden;
}
.truonghopkhoibenh ul li{
    border-bottom: 1px dashed #000000;
    padding:10px 10px 10px 15px;
    background: url("../imgs/ico_muitentron.png") no-repeat right center;
}
/*.menu_f*/
.menu_f{
    height: 70px;
    background: #177fc8;
    padding: 15px 0px;
}
.menu_f_item{
    float: left;
    width: 25%;
    border-right: 1px dotted #ffffff;
    text-align: center;
}
.menu_f_item:last-child{
    border-right: none;
}
.menu_f_item a{
    color: #ffffff;
}
/*.info*/
.info{
    background: #e5e5e5;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 6.2rem;
}
/*.footer*/
.footer{
    width: 100%;
    /*background: url("../imgs/bg_footer.jpg") repeat-x;*/
    background:#177fc8;
    max-width: 600px;
    height: 6.2rem;
}
.footer_item{
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 0.5rem;
}
.footer_item a{
    display: block;
    height: 5rem;
}
.footer_item a img{
    max-width: 100%;
    max-height: 100%;
}
.footer_item:nth-child(1) a,.footer_item:nth-child(4) a{
    border-right: 1px solid #000000;
}
.footer_item p{
    color: #ffffff;
    margin-top: 5px;
    line-height: 1.2rem;
}
/*page category*/
.categories_list{
    /*margin-left: -15px;
    margin-right: -15px;*/
    overflow: hidden;
}
.categories_list_item{
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
}
.categories_list6 .categories_list_item{
    width: 16.66%;
}
/*them phan nay*/
.categories_list_item:before{
    content: '';
    display: block;
    margin-top: 100%;
}
.categories_list_item:nth-child(3) p,.categories_list_item:nth-child(4) p,.categories_list_item:nth-child(5) p{
   /* padding-top: 15px;*/
}
.categories_list_item_content{
    position: absolute;
    top: 0.3rem;
    bottom: 0.3rem;
    right: 0.3rem;
    left: 0.3rem;
    margin: auto;
    /*background-color: #e9e9e9;
    background : linear-gradient(#fff, #e9e9e9);
    background : -moz-linear-gradient(#fff, #e9e9e9);
    background : -webkit-linear-gradient(#fff, #e9e9e9);
    background : -o-linear-gradient(#fff, #e9e9e9);*/
    /*border: 1px solid #eee;*/
}
.categories_list_item_content img{
    width: 100%;
}
.categories_des{
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
.categories_des_left{
    float: left;
    width: 32%;
    position: relative;
}
.categories_des_left:before {
    content: '';
    display: block;
    margin-top: 100%;
}
.categories_des_img{
    background: #4891dd;
    text-align: center;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    padding-top: 1rem;
}
.categories_des_img img{
    max-width: 60%;
}
.categories_des_img p{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.categories_des_right{
    float: left;
    width: 64%;
    margin-left: 4%;
    position: relative;
}
.categories_des_right:before{
    content: '';
    display: block;
    margin-top: 50%;
}
.categories_des_right_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.categories_des_right img{
    width: 100%;
    height: 100%;
}
.categories_this_item3 .categories_this_item{
    width: 32%;
    height: 3rem;
    background: #e8e8e8;
    float: left;
    margin-right: 2%;
    text-align: center;
    line-height: 3rem;
    letter-spacing: -0.9px;
}
.categories_this_item3 .categories_this_item:nth-child(3){
    margin-right: 0;
}
.categories_this_item2 .categories_this_item,.categories_this_item4 .categories_this_item{
    width: 42%;
    height: 3rem;
    background: #e8e8e8;
    float: left;
    margin-right: 3%;
    margin-left: 3%;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1rem;
}
.main_tit2{
    height: 56px;
    background: #177fc8;
    line-height: 56px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
    font-size: 16px;
}
ul.articel{
    margin-top: 10px;
}
ul.articel li{
    border-bottom: 1px dotted #000000;
    background: url("../imgs/ico_muten.png") left center no-repeat;
    background-position: 5px;
    padding: 0.5rem 10px 0.5rem 20px;
}
ul.articel li:last-child{
    border-bottom: none;
}
.cat_btn_tuvan .btn_tuvan_tructuyen{
    float: left;
    background: #5f849f;
}
.cat_btn_tuvan .btn_tuvan_dienthoai {
    float: right;
    background: #78c867;
}
.cat_btn_tuvan img{
    max-width: 95%;
    max-height: 95%;
}
/*page detail*/
.detail_tit h1{
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    padding-left: 20px;
    text-align: center;
}