body{
    font-family: arial;
    font-size: 15px;
}
.h1{
    font-size: 1.3rem;
}
.clear{
    width: 100%;
    height: 0.5rem;
}
.clear2{
    width: 100%;
    height: 1rem;
}
a{
    color: #000000;
}
a:hover{
    text-decoration: none;
}
.padding_x15{
    padding-left: 15px;
    padding-right: 15px;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.main_item{
    width: 1000px;
    overflow: hidden;
    margin: auto;
}
.banner_top{
    background: #fff;
    padding: 10px 0;
}
.logo_top{
    float: left;
}
.sdt_top{
    width: 500px;
    float: right;
    padding-left: 255px;
}
.sdt_top img{
    float: left;
    padding-right: 20px;
}
.sdt_top a{
    color: #d29700;
}
/*.menu*/
.menu{
    background: #11c7d4;
}
.menu ul li{
    float: left;
    width: 16.66%;
    text-align: center;
    padding: 12px;
}
.menu ul li a{
    color: #ffffff;
    text-transform: uppercase;
}
.menu ul li:last-child{
    padding-right: 0;
    padding-left: 0;
}
.menu ul li:last-child a{
    letter-spacing: -0.3px;
}
/*.banner*/
.banber{
    text-align: center;
    overflow: hidden;
}
.banber img{
    width: 100%;
}
/*main_item*/
.main_item1_tit{
    margin: 20px 0;
    margin-top: 30px;
}
.main_item1_tit label{
    font-weight: bold;
    display: inline-block;
    font-size: 27px;
    text-transform: uppercase;
    color: #238bc6;
}
/*.main_item1*/
.main_item1{
    background: #a6ddfc;
    width: 100%;
    padding-bottom: 90px;
}
.main_item1_bg label{
    color: #238bc6;
}
.main_item1_main{
    overflow: hidden;
    margin-top: 50px;
}
.main_item1_item{
    width: 40%;
    float: left;
    margin:15px 5%;
    border: 3px solid #77c3ee;
    background: #fff;
}
.main_item1_tit_img{
    position: absolute;
    margin-top: -135px;
    margin-left: 713px;
}
.main_item1_item:nth-child(2n){
    margin-right: 0;
}
.main_item1_img{
    text-align: center;
    height: 210px;
    overflow: hidden;
}
.main_item1_img img{
    width: 100%;
}
.main_item1_c{
    margin-top: 20px;
    margin-bottom: 15px;
    overflow: hidden;
}
.main_item1_l{
    width: 70%;
    float: left;
    padding-left: 15px;
}
.main_item1_l label{
    font-size: 25px;
    margin-bottom: 0px;
}
.main_item1_l p{
    margin-bottom: 0px;
}
.main_item1_l span{
    color: #fe3509;
    font-size: 30px;
}
.main_item1_l b{
    color:#fe3509;
    font-size: 50px;
}
.main_item1_r{
    width: 30%;
    float: left;
}
.main_item1_click{
    width: 110px;
    height: 110px;
    background: #fe3509;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    padding-top: 35px;
}
.main_item1_click a{
    color: #ffffff;
}
.main_item_tv{
    width: 378px;
    height: 70px;
    background: #fe3509;
    text-align: center;
    margin: 20px auto;
    line-height: 70px;
    border-radius: 10px;
    padding: 0 20px;
}
.main_item_tv a{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
.main_item_tv img{
    max-width: 60%;
    max-height: 60%;
}
/*.main_item2*/
.main_item2{
    background: #4cdfea;
    overflow: hidden;
    padding-bottom: 80px;
}
.main_item2_tit{
    margin-bottom: 60px;
}
.main_item2_tit .main_item_tit_img{
    position: absolute;
    margin-top: -75px;
    margin-left: 40px;
}
.main_item2_tit label{
    font-size: 27px;
    padding-left: 305px;
    color: #07838d;
    text-transform: uppercase;
    margin-top: 45px;
}
.main_item2_main ul{
    overflow: hidden;
}
.main_item2_main ul li{
    width: 31%;
    margin-right: 3.5%;
    background: #fff;
    float: left;
}
.main_item2_main ul li:last-child{
    margin-right: 0px;
}
.main_item2_img img{
    max-width: 100%;
}
.main_item2_txt{
    padding: 15px;
    text-indent: 20px;
    text-align: justify;
    height: 178px;
}
/*.main_item3*/
.main_item3{
    background: #fcc3a6;
    padding-bottom: 80px;
}
.main_item3 .main_item1_tit label{
    color: #fd631d;
    letter-spacing: -1.2px;
}
.main_item3 .main_item1_tit_img{
    margin-top: -165px;
}
.main_item3_img{
    text-align: center;
}
.main_item3_txt{
    width: 910px;
    margin: auto;
    text-align: justify;
    text-indent: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
/*.main_item4*/
.main_item4{
    overflow: hidden;
    background: #89a5d5;
    padding-bottom: 90px;
}
.main_item4 .main_item_tit_img{
    margin-top: -95px;
}
.main_item4 .main_item2_tit label{
    color: #3f68ad;
    margin-top: 25px;
}
.main_item4_main ul{
    overflow: hidden;
}
.main_item4_main ul li{
    float: left;
    overflow: hidden;
    width: 23.33%;
    margin-right: 2%;
    background: #fff;
    padding-bottom: 15px;
}
.main_item4_main ul li:last-child{
    margin-right: 0px;
}
.main_item4_img{
    text-align: center;
    height: 146px;
}
.main_item4_tit{
    text-align: center;
    text-transform: uppercase;
    height: 25px;
    margin-top: 15px;
}
.main_item4_txt{
    padding: 15px;
    text-align: justify;
    height: 180px;
    margin-bottom: 10px;
}
.main_item4_tv{
    width: 180px;
    height: 35px;
    border-radius: 35px;
    line-height: 35px;
    text-align: center;
    margin: auto;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ff8848 , #e6286a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #ff8848 , #e6286a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #ff8848 , #e6286a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #ff8848 , #e6286a); /* Standard syntax */
    color: #fff;
}
.main_item4_tv a{
    color: #fff;
}
/*.main_item5*/
.main_item5{
    background: #fce7a6;
}
.main_item5 .main_item1_tit label{
    color: #9a7c1e;
}
.main_item5 .main_item1_tit_img{
    margin-top: -160px;
}
.main_item5_main{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.main_item5_img{
    float: left;
    width: 400px;
    padding: 15px;
}
.main_item5_txt{
    width: 600px;
    padding: 15px;
    float: left;
    text-align: justify;
    padding-top: 50px;
}
.main_item5_dt{
    padding-top: 30px;
}
.main_item5_dt img{
    float: left;
    margin-right: 15px;
}
.main_item5_dt p b{
    font-size: 20px;
}
/*.main_item6*/
.main_item6{
    background: url("../images/main_item6_bg.jpg") no-repeat;
    background-size: cover;
    height: 650px;
}
.main_item6_tit{
    color: #fff;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 40px;
}
.btn_f a{
    display: block;
    width: 160px;
    height: 36px;
    float: left;
    text-transform: none;
    background: #a7d2fd;
    color: #38bcd1;
    border-radius: 4px;
    padding-top: 5px;
    text-align: center;
    margin: 0 5px;
}
.btn_f a:hover{
    background: #eeffb9;
}