body{
    background: white;
    color: #000000;
}
.khainv_clear{
    width: 100%;
    height: 20px;
    overflow: hidden;
}
#nav {
    top: 0px;
}
#head{
    height: 43px;
}
.main1-l {
    width: 233px;
}
.main1-l1{
    text-align: center;
    height: 292px;
}
.main1-l1 p{
    font-size: 12px;
}
.main1-l1 dd {
    height: 138px;
}
.main1-l1 dt h3 {
    text-align: center;
}
.main1-l2 li {
    text-transform: uppercase;
}
.main1-l2 li a {
    font-size: 12px;
    font-weight: bold;
}
.an_an {
	background:none !important;
	color:#000 !important;
} 
.view_view {
    background: url(http://benhtri168.com/public/images/khai/ico-123.jpg) 0 8px no-repeat !important;
    color: #fff !important;
} 

.cha-l-1t {
    font-size: 14px;
    font-weight: bold;
}
.cha-l-1c dl{
    width: 77px;
    padding-left: 0px;
    padding-right: 0px;
}
.cha-l-1c dt {
    width: 100%;
}
.cha-l-1c dt a {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 15px;
}
.cha-l-1c dd{
    width: 100%;
    margin-left: 15px;
}
.his-center1-t1 {
    background: url(../imgs/his-center1-t1.png) 0px 0px no-repeat;
}
.expert-list-wz h3{
    font-size: 14px;
}
.expert-list-wz p {
    font-size: 13px;
    padding-left: 7px;
}
.brand1 .brand1l{
    width: 432px;
    height: 216px;
    float: left;
}
.brand1 .brand1r{
    background: #eaeaea;
    float: right;
    width: 278px;
}
.brand1 .brand1r1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 120px;
}
.brand1 .brand1r1 b{
    text-transform: uppercase;
    font-size: 12px;
}
.brand1 .brand1r2{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 94px;
}
.brand1 .brand1r2 .brand1r2_line{
    width: 100%;
    height: 60px;
    color: white;
    overflow: hidden;
    padding-top: 20px;
}
.brand1 .brand1r2 .brand1r2_line_item{
    float: left;
    width: 60px;
    height: 43px;
    text-align:center;
    border-radius: 60px;
    line-height: 14px;
    padding-top: 17px;
    margin-left: 23px;
}
.brand1 .brand1r2 .brand1r2_line1{
    background: #e13738;
}
.brand1 .brand1r2 .brand1r2_line2{
    background: #7b9965;
}
.brand1 .brand1r2 .brand1r2_line3{
    background: #5d7c91;
}
.brand2-t h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.brand3 dt{
    text-indent: 0px;
    margin-top: 10px;
    color: #000000;
    text-align: justify;
    width: 220px;
    line-height: 20px;
}
.brand4 dd {
    overflow: hidden;
}
.brand4 dt{
    color: #000000;
    text-align: justify;
}
.brand_stt{
    width: 40px;
    height: 40px;
    background: #e73239;
    color: white;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    float: left;
    border-radius: 40px;
    font-size: 28px;
}
.brand4_line_tiem{
    width: 73px;
    height: 58px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 73px;
    float: left;
    line-height: 18px;
    padding-top: 15px;
}
.brand4_line1{
    background: #e24443;
    margin-right: 20px;
}
.brand4_line2{
    background: #7a9b62;
    margin:0 40px;
}
.brand4_line3{
    background: #5d7c91;
    margin-left: 20px;
}
.brand4-r a{
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    margin-left: 108px;
    text-align: center;
    margin-top: -165px;
    position: absolute;
}
.bottom-ksnav li span {
    width: 58px;
}
bottom-ksnav li #a1{
    background-position: -60px -6px;
}
#a4 {
    background-position: -192px -54px;
}

bottom-ksnav li:hover #a1 {
    background-position: -60px -6px;
}
.bottom-ksnav li:hover #a4 {
    background-position: -191px 0px;
}
.bottom-ksnav li:nth-child(1){
    width: 180px;
}
.bottom-ksnav li:nth-child(2){
    width: 200px;
}
.bottom-ksnav li:nth-child(3){
    width: 180px;
}
.bottom-ksnav li:nth-child(4){
    width: 180px;
}
.bottom-ksnav li:nth-child(5){
    width: 210px;
    line-height: 20px;
}
.foot_main {
    width: 1300px;
}
.foot h6 {

}
.w565{
    width: 660px;
}
.w565 ul{
    width: 190px;
}
.w565 ul li{
    width: 100%;
    text-align: left;
}
.w565 ul.w100{
    width: 200px;
}
.w565 ul.w100 li {
    width: 100%;
}
.footer_r {
    width: 330px;
    float: left;
    margin-left: 18px;
    color: #b7a88f;
}
.copy {
    padding-bottom: 0px;
}