.page-viem-tai-ngoai * {
    box-sizing: border-box;
}
.col-6{
	float: left;
	width: 50%;
}
body{
	margin:0px;
	font-family: Arial;
}
ul{
	padding-left:0px;
}
.container{
	width: 1000px;
	margin:0px auto;
}
.clearfix:after,.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.color1{
	color: #0299b2;
}
.color2{
	color: #ff6600;
}
.w50{
	width: 50%;
	float: left;
}
.w33{
	width: 33%;
	float: left;
}
.tuvan{
	line-height: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	background-color: #ff6600;
}
p{
	text-align: justify;
	line-height: 19px;
	font-size: 14px;
}
.left{
	float: left;
	display: inline-block;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
.site-header{
	padding-top: 20px;
}
.menu{
	min-height: 70px;
	background-color: #0096aa;
	margin-top: 20px;
}
.menu li{
	display: inline-block;
	background-image: url('images/viemmui_16.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}
.menu li a{
	color: #fff;
	font-size: 11pt;
	text-align: center;
	display: inline-block;
	padding: 18px;
	line-height: 17px;
	width: 106.85px;
	box-sizing: content-box;
}
.menu li a:hover{
	background-image: url('images/header-menu-bg-hover.png');
	background-repeat: no-repeat;
	background-size: 141px;
	background-position: 2px 0px;
}
.menu li a.active{
	background-image: url('images/header-menu-bg-hover.png');
	background-position: 2px 0px;
	background-size: 141px;
	background-repeat: no-repeat;
}
.top-banner{
	margin: 0px auto;
}
.top-banner a{
	display: block;
	margin:0px auto;
}
.txt-just{
	text-align: justify;
}
div.title{
	background-image: url('images/img-2.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
}
div.title h2{
	font-size: 30px;
}
.nguyen-nhan p.description{
	padding: 10px;
	color: #555;
	font-size: 16px;
}
.nguyen-nhan-bg1{
	background-image: url('images/img-3.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 290px;
	min-width: 1000px;
	margin: 0px auto;
}
.nguyen-nhan-bg1 .row2{
	padding-top: 20px;
}
.nguyen-nhan-bg1 .col1{
	padding-left: 140px;
	padding-right: 25px;
}
.nguyen-nhan-bg1 .col2{
	padding-left: 40px;
	padding-right: 130px;
}
.tuvan1{
	margin-top: 30px;
}
.kiem-tra-viem-tai-ngoai-bg1{
	background-image: url('images/img-4.png');
	background-position: center;
	background-repeat: no-repeat;
	min-width: 1000px;
	margin: 0px auto;
	min-height: 700px;
	margin-top: 40px;
} 
.kiem-tra-viem-tai-ngoai-bg1 .title2 h2{
	padding-top: 20px;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2{
	text-align: center;
	margin-top: 115px;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2 h3{
	color: #fff;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2 .col1 h3{
	padding-right: 36px;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2 .col2 h3{
	padding-left: 30px;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2 p{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	font-size: 16px;
	line-height: 20px;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2 .col1 p{
	padding-left: 80px;
}
.kiem-tra-viem-tai-ngoai-bg1 .row2 .col2 p{
	padding-left: 110px;
	padding-right: 80px;
}
.kiem-tra-viem-tai-ngoai-bg1 .tuvan2{
	margin-top: 200px;
}
.dieu-tri {
	padding-bottom: 50px;
}
.dieu-tri .title{
	margin-bottom: 30px;
}
.dieu-tri .w33{
	background-repeat: no-repeat;
	background-position:center;
	height: 308px;
	color: #fff;
	padding: 50px;
	padding-top: 100px;
}
.dieu-tri .w33 p{
	text-align: center;
}
.dieu-tri .row1 .col1{
	background-image: url('images/img-5.png');
}
.dieu-tri .row1 .col2{
	background-image: url('images/img-6.png');
}
.dieu-tri .row1 .col3{
	background-image: url('images/img-7.png');
}
.dieu-tri .row2 .col1{
	background-image: url('images/img-8.png');
}
.dieu-tri .row2 .col2{
	background-image: url('images/img-9.png');
}
.dieu-tri .row2 .col3{
	background-image: url('images/img-10.png');
}
.tuvan3{
	margin-top: 50px;
}
.net-doc-dao-trong-phuong-phap .bg1{
	background-image: url('images/img-11.png');
	background-repeat: no-repeat;
	background-position: center;
	min-width: 1000px;
	margin: 0px auto;
	height: 461px;
}
.net-doc-dao-trong-phuong-phap .bg1 h3{
	margin-top: 0px;
	padding-top: 98px;
	padding-left: 540px;
	margin-bottom: 0px;
	color: #fff;
	font-size: 16px;
}
.net-doc-dao-trong-phuong-phap .bg1 p{
	padding-left: 499px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding-right: 10px;
}
.net-doc-dao-trong-phuong-phap .bg2{
	background-image: url('images/img-12.png');
	background-repeat: no-repeat;
	background-position: center;
	min-width: 1000px;
	margin: 0px auto;
	height: 361px;
	position: relative;
}
.net-doc-dao-trong-phuong-phap .bg2 h3{
	margin-top: -12px;
    padding-top: 85px;
    padding-left: 60px;
    width: 516px;
    margin-bottom: 0px;
    font-size: 16px;
}
.net-doc-dao-trong-phuong-phap .bg2 p{
	color: #fff;
	width: 576px;
	padding-left:10px; 
	margin-top: 22px;
	padding-right: 60px;
}
.net-doc-dao-trong-phuong-phap .bg3{
	background-image: url('images/img-13.png');
	background-repeat: no-repeat;
	background-position: center;
	min-width: 1000px;
	margin: 0px auto;
	height: 443px;
	margin-top: -10px;
}
.net-doc-dao-trong-phuong-phap .bg3 h3{
	margin-top: -15px;
	margin-left: 537px;
    padding-top: 100px;
	padding-right: 10px;
	font-size: 16px;
	color: #fff;
}
.net-doc-dao-trong-phuong-phap .bg3 p{
	margin-left: 500px; 
	margin-top: 10px;
	line-height: 20px;
}
.net-doc-dao-trong-phuong-phap .tuvan{
	margin-top: 30px;
}
.list-cau-hoi{
	margin-top: 20px;
}
.list-cau-hoi div.left{
	width: 490px;
}
.list-cau-hoi div.left .question{
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	float: left;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: #4ac0e0;
	text-align: center;
	font-size: 19px;
}
.list-cau-hoi div.left .answer{
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	float: left;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: #959595;
	text-align: center;
	font-size: 19px;
	margin-top: 0px;
}
.list-cau-hoi div.left .txt2{
	display: inline-block;
	float: left;
    min-height: 20px;
    width: 450px;
    padding-left: 10px;
    margin-top: 19px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.list-cau-hoi div.left >div:nth-child(2) p.txt2
{
	margin-top: 0px;
}
.list-cau-hoi div.left p.bg1{
	min-height: 30px;
}
.list-cau-hoi div.left .bg1 .txt2{
	background-color: #e2f5fa;
	font-weight: bold;
	color: #1192a5;
	font-size: 16px;
}
.list-cau-hoi .left.mar{
	margin-left: 20px;
}
.cuoi-cung{
	background-color: #d9f2f6;
	min-height: 190px;
	margin-top: 30px;
	font-size: 14px;
}
.cuoi-cung .row{
	padding: 10px 10px;
}
.cuoi-cung .row .txt1{
	color: #ff0000;
	font-weight: bold;
}
.cuoi-cung .row .txt2 span{
	font-weight: bold;
	color: #0096aa;
}
.cuoi-cung .txt2{
	line-height: 19px;
}
.title4{
	padding-top: 10px;
}
