.page-polyp-mui * {
    box-sizing: border-box;
}
.col-6{
	float: left;
	width: 50%;
}
body{
	margin:0px;
	font-family: Arial;
}
ul{
	padding-left:0px;
}
.container{
	width: 1000px;
	margin:0px auto;
}
.clearfix:after,.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.color1{
	color: #0096aa;
}
p{
	text-align: justify;
	line-height: 19px;
	font-size: 14px;
}
.left{
	float: left;
	display: inline-block;
}
.right{
	float: right;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
.site-header{
	padding-top: 20px;
}
.menu{
	min-height: 70px;
	background-color: #0096aa;
	margin-top: 20px;
}
.menu li{
	display: inline-block;
	background-image: url('images/viemmui_16.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
}
.menu li a{
	color: #fff;
	font-size: 11pt;
	text-align: center;
	display: inline-block;
	padding: 18px;
	line-height: 17px;
	width: 106.85px;
	box-sizing: content-box;
}
.menu li a:hover{
	background-image: url('images/header-menu-bg-hover.png');
	background-repeat: no-repeat;
	background-size: 141px;
	background-position: 2px 0px;
}
.menu li a.active{
	background-image: url('images/header-menu-bg-hover.png');
	background-position: 2px 0px;
	background-size: 141px;
	background-repeat: no-repeat;
}
.top-banner{
	margin: 0px auto;
}
.top-banner a{
	display: block;
	margin:0px auto;
}
.txt-just{
	text-align: justify;
}
.txt-center{
	text-align: center;
}
.color2{
	color: #f56506;
}
.page-polyp-mui .title{
	background-image: url('images/ply-2.png');
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
}
.page-polyp-mui .title h3{
	color: #555;
}
.nguyen-nhan .bg1{
	background-image: url('images/ply-3.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 466px;
	margin-top: 30px;
}
.nguyen-nhan .bg1 .description p{
	padding-left: 430px;
	color: #fff;
	padding-top: 80px;
	padding-right: 10px;
	font-size: 15px;
}
.nguyen-nhan .bg1 .description2{
	padding: 10px;
	padding-top: 80px;
}
.tuvan{
	line-height: 60px;
	height: 60px;
	background-color: #ff6600;
	text-align: center;
	font-size: 18px;
	color:#fff;
}
.kiem-tra .bg1{
	background-image: url('images/ply-4.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 775px;
	min-width: 1000px;
	margin: 0px auto;
}
.kiem-tra .title h1{
	margin-top: 0px;
	padding-top: 20px;
}
.kiem-tra .left{
	width: 50%;
	padding-top: 40px;
}
.kiem-tra .left.col1{
	color: #fff;
	text-align: center;
	padding-left:10px;
	padding-right: 30px; 
}
.kiem-tra .left.col1 p{
	padding-top: 320px;
	padding-right: 30px;
}
.kiem-tra .left.col2 p{
	line-height: 22px;
	font-size: 15px;
}
.kiem-tra .left.col2 div.giam{
	line-height: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	background-color: #06798b;
	margin-top: 215px;
}
.kiem-tra .tuvan{
	margin-top: 40px;
}
.dieu-tri .bg1{
	background-image: url('images/ply-5.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 604px;
	margin:0px auto;
	margin-top: 40px;
	width: 1180px;
}
.dieu-tri .left{
	width: 33%;
	text-align: center;
}
.dieu-tri .left.col1 h3{
	padding-top: 318px;
}
.dieu-tri .left.col1 p{
	padding-left: 32px;
    padding-right: 55px;
    color: #fff;
}
.dieu-tri .left.col2 h3{
	padding-top: 107px;
    padding-left: 80px;
    padding-right: 65px;
}
.dieu-tri .left.col2 p:nth-child(2)
{
	padding-top: 0px;
    /*padding-left: 40px;*/
    /*padding-right: 39px;*/
}
.dieu-tri .left.col2 p:nth-child(3)
{
	padding-top: 90px;
    padding-left: 30px;
    padding-right: 20px;
}
.dieu-tri .left.col3 h3
{
	padding-top: 318px;
    text-align: center;
    padding-left: 50px;
}
.dieu-tri .left.col3 p{
	color: #fff;
	padding-left: 55px;
	/*padding-right: 10px;*/
}
.dieu-tri .tuvan{
	margin-top: 50px;
	margin-bottom: 40px;
}
.phuong-phap-dieu-tri .bg1{
	background-image: url('images/ply-6.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 333px;
	min-width: 1000px;
	margin:0px auto;
}
.phuong-phap-dieu-tri .bg2{
	background-image: url('images/ply-7.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 274px;min-width: 1000px;
	margin:0px auto;
}
.phuong-phap-dieu-tri .bg3{
	background-image: url('images/ply-8.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 367px;min-width: 1000px;
	margin:0px auto;
}
.phuong-phap-dieu-tri .title h2{
	margin-top: 0px;
	padding-top: 20px;
}
.phuong-phap-dieu-tri .chuan-doan-chinh-xac{
	padding-left: 340px;padding-right: 10px;
}
.phuong-phap-dieu-tri .chuan-doan-chinh-xac h3{
	margin-bottom: 0px;
	padding-top: 10px;
}
.phuong-phap-dieu-tri .chuan-doan-chinh-xac p{
	margin-top: 5px;
}
.phuong-phap-dieu-tri .dieu-tri-xam-lan-toi-thieu{
	padding-right: 400px;
	padding-left: 10px;
	padding-top: 30px;
}
.phuong-phap-dieu-tri .dieu-tri-xam-lan-toi-thieu h3{
	color: #ffff00;
	margin-bottom: 0px;
}
.phuong-phap-dieu-tri .dieu-tri-xam-lan-toi-thieu p{
	color: #fff;
}
.phuong-phap-dieu-tri .theo-doi-lau-dai{
	padding-top: 66px;
    padding-left: 450px;
    padding-right: 10px;
}
.phuong-phap-dieu-tri .theo-doi-lau-dai h3{
	margin-top: 0px;
	margin-bottom: 0px;
}
.phuong-phap-dieu-tri .tuvan{
	margin-top: 20px;
}
.qa .list-qa{
	padding-top: 20px;
}
.qa .list-qa .bg1{
	background-image: url('images/ply-9.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 446px;
	width: 296px;
}
.qa .list-qa .item .span-q,.qa .list-qa .item .span-a{
	font-weight: bold;
	display: inline-block;
	position: relative;
	float: left;
}
.qa .list-qa .item{
	border-bottom: 1px dashed  #444;
}
.qa .list-qa .item:last-child{
	border-bottom: none;
	padding-bottom: 20px;
}
.qa .list-qa .item .txt1{
	display: block;
	margin-left: 20px;
}
.cuoi-cung{
	background-color: #d9f2f6;
	min-height: 190px;
	margin-top: 30px;
	font-size: 14px;
}
.cuoi-cung .row{
	padding: 10px 10px;
}
.cuoi-cung .row .txt1{
	color: #ff0000;
	font-weight: bold;
}
.cuoi-cung .row .txt2 span{
	font-weight: bold;
	color: #0096aa;
}
.cuoi-cung .txt2{
	line-height: 19px;
}
.nguyen-nhan-gay-ra-xmh h3{
	color: #555;
}
.nguyen-nhan-cuc-bo h4{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #555;
}
.noi-soi-chup-mui {
	padding-top: 20px;
}