body{
    font-family: arial;
    font-size: 15px;
}
a:hover{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-jus{
    text-align: justify;
}
.color1{
    color: #00959c ;
}
.color2{
    color: #ffa200 ;
}
.color3{
    color: #fff ;
}
.text-lg{
    font-size: 1.3em;
    font-weight: 700;
}
h4{
    text-transform: uppercase;
}
h4.tit{
    display: inline-block;
    border-bottom: 2px solid #00676c;
}
/*TOP MENU*/
.top{
    border-top: 4px solid #00676c;
}
.top-contact{
    background-image: url('../images/top-contact/bg.png');
    background-size: cover;
    width: 633px;
    font-size: 0.8em;
    text-align: center;
    margin-top: -4px;
    float: right;
    padding: 5px 10px;
    color: #fff;
}
.img-logo{
    margin-top: -17px;
    width: 100%;
}
/*.pmenu{
    padding-top: 40px;
    text-align: right;
    margin-bottom: 5px;
}
span.menu{
    padding: 13px 20px 10px 0px;
    margin-top: 40px;
    text-transform: uppercase;
    color: #585858;
    font-weight: 600;
    margin-left: 10px;
    font-family: arial;
}
span.menu:hover{
    color: #00676c;
}*/
ul.menutop{
    width: 100%;
    display: block;
    padding: 0;
    margin-top: 18px;
}
ul.menutop li.menu_lv1{
    float: left;
    width: 19%;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
ul.menutop li:nth-child(3){
    width: 23%;
}
ul.menutop li:last-child{
    width: 20%;
}
ul.menutop li:last-child img{
    max-width: 100%;
}
ul.menutop li .content_hm{
    display: none;
    overflow: hidden;
    width: 820px;
    margin: 0;
    padding: 0;
    background: #fff;
}
ul.menutop li:hover .content_hm{
    display: block;
    position: absolute;
    z-index: 99;
    margin-left: -48%;
}
.content_hm_m{
    overflow: hidden;
    border-top: 2px solid #00676c;
    margin-top: 17px;
}
ul.menutop li .content_hm .content_hm_tiem{
    width: 22%;
    float: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2 li{
    width: 100%;
    float: left;
    text-transform: none;
    text-align: left;
    padding: 7px 0;
    line-height: normal;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2 li i{
    font-size: 6px;
    margin-top: 8px;
    margin-right: 5px;
    display: block;
    float: left;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2 li a{
    font-weight: normal;
    color: #494949;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2 li a:hover{
    color: #00676c;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2 li:first-child{
    color: #00676c;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
}
ul.menutop li .content_hm .content_hm_tiem ul.menu_lv2 li:first-child a{
    font-weight: bold;
}
.btn-reg{
    margin-top: -4px;
    margin-left: 10px;
}

/*PROMOTION*/
.promotion{
    margin-top: -100px;
    margin-bottom: 50px;
    height: 500px;
}
.promotion .row .col-md-3{
    width: 20%;
    flex: 0 0 20%;
}
.block-promotion{
    width: 173px;
    height: 174px;
    background-image: url("../images/promotion/promotion.png");
    background-size: cover;
    text-align: center;
    margin-left: 14px;
    position: absolute;
    z-index: 9;
}
.block-promotion a{
    display: block;
    padding-top: 30px;
}
.block-promotion h3{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}
.promotion .promotion_m{
    padding: 10px;
    border: 3px solid #00747b;
    position: absolute;
    margin-top: 99px;
    z-index: 1;
    padding-top: 80px;
}
.promotion-title{
    position: relative;
}
.promotion .promotion-title .text-jus{
    height: 220px;
}
.promotion-title:hover .promotion_m{
    border: 3px solid #d57500;
}
.promotion-title a.btn-read-more{
    width: 106px;
    height: 28px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 27px;
    color: #fff;
    background: url(../images/promotion/btn-read-more0.png) no-repeat;
}

.promotion-title:hover .block-promotion{
    background-image: url("../images/promotion/promotion-hover.png");
}
.promotion-title:hover a.btn-read-more{
    background-image: url("../images/promotion/btn-read-more.png");
    background-repeat: no-repeat;
    color: #fff;
}

/*ABOUT*/
.about{
    background-image: url("../images/about/bg.png");
    background-size: cover;
    padding: 30px 0;
    background-position: center center;
}
.about .font_bold a{
    color: #fff;
}
.about h4{
    text-transform: uppercase;
    line-height: 1.3em;
    display: inline-block;
    background: #cceced;
    padding: 2px 15px;
    font-size: 19px;
}
.about .block-contact{
    margin-top: 30px;
}
.about .block-contact img{
    margin-right: 10px;
}
.btn-about{
    padding: 5px 10px;
    border-radius: 0;
    margin-top: 10px;
    color: #00676c;
    border: 1px solid #00676c;
    text-transform: uppercase;
}
.hvr-shutter-in-vertical{
    background: none !important;
}
/*STRONG*/
.strong{
    padding: 30px 0;
}
.strong img{
    margin-bottom: 20px;
}
.strong .strong_border{
    border: 1px solid #ccc;
}
.strong .strong_border h6{
    text-align: center;
}
.strong .strong_border .strong_des{
    padding: 0 15px;
    text-align: justify;
    text-indent: 20px;
    height: 105px;
}
.btn-strong{
    border: 1px solid #00676c;
    color: #00676c;
    border-radius: 0;
    background: #eee;
}
.btn-strong:hover{
    border: 1px solid #fff;
    color: #fff;
    background-color: #00676c;
}

/*SERVICE*/
.service{
    background-image: url('../images/service/bg.jpg');
    background-size: cover;
    height: 507px;
    padding: 50px 0;
}
.service .service_border{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 40px;
}
.service .service_border h4{
    font-size: 18px;
    background: #49babf;
    text-transform: uppercase;
    padding: 5px 15px;
    margin-bottom: 0;
    line-height: 1.3;
}
.service .text-center a.btn-strong{
    width: 126px;
}
.service .col-md-6 p{
    text-align: justify;
    margin-bottom: 0;
    margin-top: 10px;
}
.service .col-md-6 p.service_btn{
    margin-top: 40px;
}
.we{
    padding: 50px 0;
}
.hvr-underline-from-center:before{
    background: #00959c !important;
    margin: 10px 15px;
}
.contact{
    background:#00959c url("../images/contact/bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 30px;
}
.contact2{
    margin: 0;
    margin-top: 40px;
}
.contact2 .l-contact{
    background-image: url("../images/contact/l-bg.png");
    height: 200px;
    padding-top: 20px;
}
.contact2 .r-contact{
    background-image: url("../images/contact/r-bg.png");
    height: 200px;
    padding-top: 20px;
}

.contact2 .l-contact a{
    padding: 10px 50px;
    border-radius: 4px;
    background-color: #fff;
    color: #00959c;
    text-transform: uppercase;
}
.contact2 .r-contact a{
    padding: 10px 50px;
    background-color: #ffa800;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
}

/*FOOTER  */
.footer{
    /*margin-top: 160px;*/
}
.footer-menu{
    background-color: #00676c;
    padding: 5px 0;
}
.footer-menu a{
    color: #fff;
    margin-left: 70px;
}
.txt-copy{
    font-size: 0.7em;
}
.footer-main{
    background-color: #00959c;
    padding: 30px 0 10px;
}
.footer-main .footer_phone{
    margin-top: 45px;
}
.footer-main .footer_tv .footer_tv_item{
    margin-bottom: 10px;
}
.footer-main .footer_tv .footer_tv_item p{
    margin-bottom: 0;
}