body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: arial;
}
.container{
    max-width: 600px;
    margin: auto;
    padding: 0;
}
ul,ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_item{
    width: 100%;
    overflow: hidden;
    margin: auto;
}
/*.top*/
.top{
    overflow: hidden;
    background: #b71012;
}
.top_left{
    width: 70%;
    float: left;
    text-align: left;
    padding: 5px;
}
.top_left img{
    max-width: 100%;
}
.top_right{
    width: 30%;
    float: left;
    text-align: right;
    padding: 5px;
}
.top_right img{
    max-width: 100%;
    padding-top: 10px;
}
/*.menu*/
.menu{
    overflow: hidden;
    background: #900406;
}
.menu ul li{
    width: 25%;
    float: left;
    text-align: center;
}
.menu ul li a{
    color: #fff;
    font-weight: bold;
    padding: 15px 0px;
    display: block;
    text-decoration: none;
}
.menu ul li a:hover{
    background: #fff;
    color:#900406 ;
}
/*.banner*/
.banner{
    overflow: hidden;
    text-align: center;
}
.banner img{
    max-width: 100%;
}
/*.main_item1*/
.main_item1{
    background:#edebec url("../images/item1_bg.png") no-repeat top center;
    padding: 15px;
    min-height: 686px;
}
.main_item1 .main_item{
    overflow: visible;
}
.loidan{
    position: relative;
}
.loidan_main{
    background: #f4f100;
    border: 2px solid #000;
    padding: 10px;
    margin-top: -80px;
}
/*.main_item_tit*/
.main_item_tit{
    text-align: center;
}
.main_item_tit_content{
    display: inline-block;
    margin: auto;
    text-align: center;
    background: url(../images/tit_left_bg.png),url(../images/tit_left_bg.png);
    background-repeat: no-repeat,no-repeat;
    background-position: left 20px,right 20px;
    padding: 0 60px;
    min-height: 85px;
}
.main_item_tit_content h3{
    color: #e43840;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.main_item_tit_content p{
    display: inline-block;
    background: #cb4254;
    border: 2px solid #fa6e31;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fffac3;
}
.main_item1_1 .main_item_tit_content h3{
    color: #fff;
    padding-top: 20px;
}
.item1_item{
    width: 50%;
    float: left;
    background: url("../images/item1_dk_bg.png") no-repeat top center;
    background-size: contain;
    text-align: center;
}
.item1_main{
    text-align: center;
    margin-top: 30px;
}
.item1_main img{
    max-width: 100%;
}
.item1_item h4{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color: #ea3740;
}
.item1_item label{
    font-weight: bold;
    color: #f49940;
    font-size: 18px;
}
.item1_txt{
    width: 50%;
    margin: auto;
}
.main_item1_2{
    margin-top: 170px;
}
.main_item1_2_item{
    background: #fff;
}
.main_item1_2_item_tit{
    background:#e43840;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 5px;
}
.main_item1_2_item_img{
    text-align: center;
}
.main_item1_2_item_img img{
    max-width: 100%;
}
.main_item1_2_item_txt{
    margin-top: 30px;
    text-align: justify;
    padding: 10px;
}
.main_item1_2_item_btn{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_item1_2_item_btn a {
    display: block;
    float: left;
    width: 50%;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.main_item1_2_item_btn a:first-child {
    background: #e43840;
}
.main_item1_2_item_btn a:last-child {
    background: #ff9600;
}
/*.main_item2*/
.main_item2{
    overflow: hidden;
    background:#dadada;
    padding: 15px;
}
.main_item2 .main_item_tit{
    margin-bottom: 20px;
}
.main_item2_main{
    background: #fff;
    padding: 15px;
}
.main_item2_main_img{
    text-align: center;
}
.main_item2_main_img img{
    width: 100%;
}
.main_item2_main_c{
    background: #fffcdb;
    padding: 15px;
}
.main_item2_main_c_tit{
    text-transform: uppercase;
    color: #e43840;
    font-weight: bold;
    margin-bottom: 10px;
}
.main_item2_main_c_txt{
    overflow: hidden;
}
.main_item2_main_c_txt a{
    display: inline-block;
    float: right;
    background: #ff9600;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}
/*.main_item3*/
.main_item3{
    overflow: hidden;
    background: #edebec;
    padding: 15px;
}
.main_item3_main{
    margin-top: 15px;
}
.main_item3_main_img{
    text-align: center;
    padding: 10px;
    background: #fff;
}
.main_item3_main_img img{
    width: 100%;
}
.main_item3_main_txt{
    overflow: hidden;
    background: #b3987d;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.main_item3_main_txt h3{
    color: #fff;
}
/*.main_item4*/
.main_item4{
    background: #e43840 /*url("../images/item4_bg.png") no-repeat top center */;
    padding: 15px;
    padding-top: 0;
}
.main_item4_bg_top{
    background: #edebec;
    margin: 0 -15px;
}
.main_item4_bg_top img{
    width: 100%;
}
.main_item4 .main_item{
    margin-top: -1px;
}
.main_item4 .main_item_tit{
    margin-top: 0px;
}
.main_item4 .main_item_tit_content h3 {
    color: #fff;
}
.main_item4_tit{
    background: url("../images/ico_traitim.png") no-repeat left top;
    padding-left: 60px;
    font-weight: bold;
    color: #fff100;
    margin-bottom: 10px;
    min-height: 55px;
}
.main_item4 p{
    color: #fff;
}
.main_item4_img{
    text-align: center;
}
.main_item4_img img{
    max-width: 100%;
}
.main_item4_img a{
    display: inline-block;
    margin: auto;
    background: #fff;
    color: #e43840;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 10px;
}
.main_item4_main{
    margin-top: 20px;
}
.main_item4_main_tit{

    color: #fff000;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
}
.main_item4_main_tit h4{
    line-height: 40px;
}
.main_item4_main_tit h4 b{
    background: url("../images/ico_lucgiac.png") no-repeat top left;
    height: 41px;
    width: 41px;
    color: #e43840;
    display: block;
    float: left;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    font-size: 25px;
}
.main_item4_main_txt{
    padding-left: 41px;
    color: #fff;
}
/*.bando*/
.bando{
    text-align: center;
    padding: 15px;
    margin-bottom: 70px;
}
.bando img{
    width: 100%;
}
/*.footer*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
}
.footer ul li{
    text-align: center;
    float: left;
    background: #4e4236;
    width: 33%;
}
.footer ul li img{
    display: inline-block;
    margin-top: -21px;
}
.footer ul li a{
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 8px 0;
}
.footer ul li a span{
    display: inline-block;
    letter-spacing: -1px;
}
.footer ul li:first-child{
    background: #91765b;
}
.footer ul li:nth-child(2){
    width: 34%;
}
.footer ul li:last-child{
    background: #b2977c;
}